body {
  margin: 0;
  background-color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 24px;
}
#map-holder {
  width: 100vw;
  height: 100vh;
}
svg rect {
  fill: blue;   /* map background colour */
}
.chart{
  fill: black
}
.country{
  fill: #d0d0d0;   /* country colour */
  stroke: #2A2C39; /* country border colour */
  stroke-width: 1; /* country border width */
}
.country-on{
  fill: #4B5358;   /* highlight colour for selected country */
}
.countryLabel{
  display: none;   /* hide all country labels by default */
}
.countryName{
  fill: black;   /* country label text colour */
}
.countryLabelBg{
  fill: #30BCED;   /* country label background colour */
}
