
body {
    margin: 0;
    background-color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
#map-holder {
    width: 100vw;
    height: 100vh;
    margin: auto;
}
svg rect {
    fill: lightskyblue;   /* map background colour */
}
.chart{
    fill: black
}
.country-on{
    fill: #4B5358;   /* highlight colour for selected country */
}
.countryLabel{
    display: none;   /* hide all country labels by default */
}
.countryName{
    fill: black;   /* country label text colour */
}
.countryLabelBg{
    fill: #30BCED;   /* country label background colour */
}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

  .focus circle {
  fill: none;
  stroke: steelblue;
}

.container .legend{
    margin: auto;
    display: block;
    text-align: center;
}

.buttons {
    margin: auto;
    text-align: center;
}

.buttons#2015:focus{
    color: black;
}
h2{
  text-align:center;
}

svg{
  margin-bottom:25px;
}

.jumbotron{
    color: green;
    text-align: center;
}

.rank{
    text-align: center;
    font-size: 16px;
    margin: auto;
    border: blue 1px solid
}

.jumbotron h4{
    color: limegreen;
}